<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'shared/_navbar' %>
    <%= stylesheet_link_tag 'shared/_footer' %>
    <%= stylesheet_link_tag 'dashboard' %>
    <title>Dashboard | CSS Kitchen</title>
</head>
<body data-controller="dashboard">
    <%= render 'shared/navbar', user_data: @user_data %>

    <main>
        <div class="cook-section">
            <h6>In one word...</h6>
            <h1>What do you feel like cooking?</h1>

            <%= form_with url: challenge_creator_path, method: :get, class: "cook-ui" do %>
                <span class="material-symbols-outlined cook-icon">
                    fork_spoon
                </span>

                <div class="cook-input-wrapper">
                    <%= text_field_tag :query, nil, placeholder: "Italian, meat...", class: "cook-search-input" %>
                    <span class="cook-input-error">You must input a single, valid word.</span>
                </div>

                <div class="cook-input-divider"></div>

                <%= select_tag :difficulty, options_for_select([['Easy', 'easy'], ['Medium', 'medium'], ['Hard', 'hard']], 'easy'), class: "cook-difficulty-select", required: true %>

                <%= submit_tag "Cook!", class: "cook-search-button" %>
            <% end %>

            <div class="cook-random">
                <h2>Or let us surprise you!</h2>
                <%= link_to challenge_creator_path(random: true), class: "cook-random-button" do %>
                    <span class="material-symbols-outlined">
                        casino
                    </span>
                <% end %>
            </div>
        </div>

        <div class="challenges-section">
            <div class="challenges-header">
                <h2>Explore Challenges</h2>
                <div class="challenge-categories">
                    <h3 class="category active" data-category="all">All</h3>
                    <h3 class="category" data-category="by_you">By you</h3>
                    <h3 class="category" data-category="by_others">By others</h3>
                </div>
            </div>
            <div class="challenges-container">
                <% @all_challenges.each do |challenge| %>
                <div class="challenge-card" data-category="all">
                    <div class="challenge-image">
                        <%= image_tag challenge.image_banner_url %>
                        <span><%= challenge.difficulty.capitalize %></span>
                    </div>
                    <div class="challenge-content">
                        <h4><%= challenge.title %></h4>
                        <p><%= challenge.description %></p>
                        <div class="challenge-tags">
                            <% challenge.tags.each do |tag| %>
                            <span><%= tag %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>

                <% @user_challenges.each do |challenge| %>
                <div class="challenge-card" data-category="by_you">
                    <div class="challenge-image">
                        <%= image_tag challenge.image_banner_url %>
                        <span><%= challenge.difficulty.capitalize %></span>
                    </div>
                    <div class="challenge-content">
                        <h4><%= challenge.title %></h4>
                        <p><%= challenge.description %></p>
                        <div class="challenge-tags">
                            <% challenge.tags.each do |tag| %>
                            <span><%= tag %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>

                <% @others_challenges.each do |challenge| %>
                <div class="challenge-card" data-category="by_others">
                    <div class="challenge-image">
                        <%= image_tag challenge.image_banner_url %>
                        <span><%= challenge.difficulty.capitalize %></span>
                    </div>
                    <div class="challenge-content">
                        <h4><%= challenge.title %></h4>
                        <p><%= challenge.description %></p>
                        <div class="challenge-tags">
                            <% challenge.tags.each do |tag| %>
                            <span><%= tag %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </main>

    <%= render 'shared/footer' %>
</body>
</html>