<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'shared/_navbar' %>
    <%= stylesheet_link_tag 'shared/_footer' %>
    <%= stylesheet_link_tag 'dashboard' %>
    <title>Dashboard | CSS Kitchen</title>
</head>
<body data-controller="dashboard">
    <%= render 'shared/navbar', user_name_data: @user_name_data %>

    <main>
        <div class="cook-section">
            <h1>What do you feel like cooking?</h1>

            <div class="cook-ui">
                <span class="material-symbols-outlined cook-icon">
                    fork_spoon
                </span>
                <input type="text" placeholder="Italian, meat..." class="cook-search-input">

                <div class="cook-input-divider"></div>

                <select class="cook-difficulty-select" required>
                    <option value="easy" selected>Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>

                <button class="cook-search-button">Cook!</button>
            </div>

            <div class="cook-random">
                <h2>Or let us surprise you!</h2>
                <button class="cook-random-button"> 
                    <span class="material-symbols-outlined">
                        casino
                    </span>
                </button>
            </div>
        </div>

        <div class="challenges-section">
            <div class="challenges-header">
                <h2>Explore Challenges</h2>
                <div class="challenge-categories">
                    <h3 class="category active">All</h3>
                    <h3 class="category">By you</h3>
                    <h3 class="category">By others</h3>
                </div>
            </div>
            <div class="challenges-container">
                <div class="challenge-card">
                    <div class="challenge-image">
                        <%= image_tag 'challenges/chicken-alfredo.jpeg' %>
                        <span>
                            Easy
                        </span>
                    </div>

                    <div class="challenge-content">
                    <h4>Chicken Alfredo</h4>
                    <p>A simple Chicken Alfredo dish featuring little detail and beginner-friendly design.</p>
                    <div class="challenge-tags">
                        <span>Pasta</span>
                        <span>Chicken</span>
                        <span>Italian</span>
                        <span>American</span>
                        <span>Alfredo</span>
                    </div>
                    </div>
                </div>
                <div class="challenge-card">
                    <div class="challenge-image">
                        <%= image_tag 'challenges/chicken-alfredo.jpeg' %>
                        <span>
                            Easy
                        </span>
                    </div>

                    <div class="challenge-content">
                    <h4>Chicken Alfredo</h4>
                    <p>A simple Chicken Alfredo dish featuring little detail and beginner-friendly design.</p>
                    <div class="challenge-tags">
                        <span>Pasta</span>
                        <span>Chicken</span>
                        <span>Italian</span>
                        <span>American</span>
                        <span>Alfredo</span>
                    </div>
                    </div>
                </div>
                <div class="challenge-card">
                    <div class="challenge-image">
                        <%= image_tag 'challenges/chicken-alfredo.jpeg' %>
                        <span>
                            Easy
                        </span>
                    </div>

                    <div class="challenge-content">
                    <h4>Chicken Alfredo</h4>
                    <p>A simple Chicken Alfredo dish featuring little detail and beginner-friendly design.</p>
                    <div class="challenge-tags">
                        <span>Pasta</span>
                        <span>Chicken</span>
                        <span>Italian</span>
                        <span>American</span>
                        <span>Alfredo</span>
                    </div>
                    </div>
                </div>
                <div class="challenge-card">
                    <div class="challenge-image">
                        <%= image_tag 'challenges/chicken-alfredo.jpeg' %>
                        <span>
                            Easy
                        </span>
                    </div>

                    <div class="challenge-content">
                    <h4>Chicken Alfredo</h4>
                    <p>A simple Chicken Alfredo dish featuring little detail and beginner-friendly design.</p>
                    <div class="challenge-tags">
                        <span>Pasta</span>
                        <span>Chicken</span>
                        <span>Italian</span>
                        <span>American</span>
                        <span>Alfredo</span>
                    </div>
                    </div>
                </div>
                <div class="challenge-card">
                    <div class="challenge-image">
                        <%= image_tag 'challenges/chicken-alfredo.jpeg' %>
                        <span>
                            Easy
                        </span>
                    </div>

                    <div class="challenge-content">
                    <h4>Chicken Alfredo</h4>
                    <p>A simple Chicken Alfredo dish featuring little detail and beginner-friendly design.</p>
                    <div class="challenge-tags">
                        <span>Pasta</span>
                        <span>Chicken</span>
                        <span>Italian</span>
                        <span>American</span>
                        <span>Alfredo</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%= render 'shared/footer' %>
</body>
</html>