<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'challenge_view' %>
    <title>Cook!</title>
</head>
<body data-controller="challengeview--main" data-challenge-id="<%= @challenge.id %>">
    <div class="challenge-view">
        <div class="challenge-left">
            <h2>Orders</h2>
            <div class="order-tabs">                                                                                   
                <div class="order-tab active">Urgent</div>
                <div class="order-tab">Completed</div>
            </div>
            <div class="orders-container">
                <% @challenge_orders.each do |order| %>
                    <div class="order urgent" data-order-id="<%= order.id %>">
                        <h5 class="order-current-indicator">Current Order</h5>
                        <div class="order-info">
                            <div class="order-customer">
                                <div class="order-status-ball green"></div>
                                <h4><%= order.customer_name %></h4>
                            </div>
                            <div class="order-text">
                                <p>
                                    <%= order.message %>
                                </p>
                                <span>...</span>
                            </div>
                        </div>
                        <div class="order-actions">
                            <!--<button class="order-action-button ignore">Ignore</button>-->
                            <button class="order-action-button accept">Accept</button>
                        </div>
                    </div>
                <% end %>
            </div>
            <button class="challenge-end-button">End Challenge</button>
        </div>
        <div class="challenge-editor-container">
            <div class="challenge-editor-tabs">
                <span class="editor-tab html active">HTML</span>
                <span class="editor-tab css">CSS</span>
            </div>
            <div class="challenge-editor html active"></div>
            <div class="challenge-editor css"></div>
            <div class="challenge-editor-actions">
                <button class="editor-action cancel">Cancel Order</button>
                <button class="editor-action deliver">Deliver Order</button>
            </div>
        </div>
        <div class="challenge-visual-container">
            <div class="challenge-visual">
                <div class="challenge-plate">
                    <div class="challenge-plate-inner food-plate"></div>
                </div>
            </div>
            <div class="challenge-current">
                <h3>Current order</h3>
                <p>Order request will appear here!</p>
            </div>
        </div>
        <div class="challenge-right">
            <div class="challenge-help">
                <h2>Help Center</h2>
                <%= image_tag challenge_image(@challenge), class: 'challenge-sample-image' %>
                <h4>Looking for inspiration?</h4>
                <span>Your dish could look like this!</span>
                <div class="challenge-help-colors">
                    <h5>Useful color codes</h5>
                    <div class="challenge-color-editor" data-code="<%= @challenge.color_codes %>"></div>
                </div>
            </div>
            <div class="challenge-score-container">
                <h3>Total score</h3>
                <span class="challenge-score"><%= session[:current_score] %></span>
            </div>
        </div>
    </div>
    <div class="challenge-overlay">
        <div class="challenge-popup">
            <h2>Text</h2>
            <div class="challenge-popup-buttons">
                <button class="popup-button negative">No</button>
                <button class="popup-button positive">Yes</button>
            </div>
        </div>
    </div>
</body>
</html>