
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "auth", "data-turbo-track": "reload" %>

    <title>Sign up for CSS Kitchen</title>
</head>
<body data-controller="auth">
    <div class="auth-wrapper">
        <section class="auth-section">
            <%= link_to root_path do %>
                <%= image_tag 'logo.svg', class: 'auth-app-logo' %>
            <% end %>
            <h1>Learn pure CSS the fun way.</h1>
            <p>Why read docs if you can cook?</p>
            <%= link_to "/auth/google", class: "google-sign-in-button" do %>
                <%= image_tag 'auth/google-button.svg' %>
            <% end %>
        </section>
    </div>
</body>
</html>